// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

// Variables
@import "variables";

// @import '~@fortawesome/fontawesome-free/css/all.min.css';
// Bootstrap
@import "bootstrap/scss/bootstrap";
body {
    background: url(../../public/images/body-bg.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    color: #828bb2;
    background-position: top;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}
.login-container {
    display: flex;
    align-items: center;
    height: 100vh;
    max-width: 1100px;
}
.login-form-wrap {
    align-items: center;
    height: 500px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.login-bg {
    padding: 0 !important;
    height: 100%;
}
.login-bg img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.login-form .form-header h3 {
    font-size: 28px;
    font-weight: bolder;
    color: #0d6efd;
    text-transform: uppercase;
}
.login-form .form-header span {
    display: block;
    text-align: center;
    font-size: 14px;
    font-style: italic;
}
.login-form .form-header {
    margin-bottom: 30px;
}
.cs-input {
    height: 45px;
    border-radius: 40px;
}
body {
    overflow-x: hidden;
}
#side_bar {
    flex: 0 0 280px;
    height: 100vh;
    background-color: transparent;
    border-right: 5px solid #818ab2;
}
#app {
    display: flex;
    width: 100%;
}
#main {
    flex: auto;
}
.side_bar-header a {
    display: block;
    color: #415094;
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 15px 0;
    text-align: center;
    border-bottom: 2px solid rgb(123 123 123 / 43%);
}
.menu-list {
    padding-left: 0 !important;
    margin-bottom: 0 !important;
}
.menu-item {
    list-style-type: none;
    padding: 15px 20px;
    border-bottom: 2px solid rgb(123 123 123 / 43%);
}
.menu-item a {
    color: #415094;
    text-decoration: none;
    font-weight: bolder;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}
.menu-link svg {
    width: 13px;
    fill: #415094;
}
.menu-list .has-child {
    position: relative;
}
.has-child .arrow-menu {
    position: absolute;
    content: "";
    right: 25px;
    top: 19px;
    border: solid #415094;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(45deg);
    user-select: none;
    -webkit-transform: rotate(45deg);
    transition: .5s all;
}
.active-menu {
    transform: rotate(-135deg) !important;
    -webkit-transform: rotate(-135deg) !important;
}
#header {
    height: 78px;
    display: flex;
    align-items: center;
    background-color: transparent;

    justify-content: right;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 25px;
}
.user-div img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #fff;
}
.user-wrap {
    display: flex;
    justify-content: flex-end;
}
.user-div {
    position: relative;
    cursor: pointer;
}


.menu-dropdown {
    position: absolute;
    right: 0;
    min-width: 200px;
    top: 65px;
    background-color: #415094;
    text-align: right;
    padding: 30px 30px 20px;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
    h5 {
        font-size: 12px;
        font-weight: 300;
        color: #fff !important;
    }
}


.user-div:hover > .menu-dropdown{
    opacity: 1;
    visibility: visible;
}
.menu-dropdown-item {
    list-style-type: none;
}
.menu-dropdown-item button{
    padding: 0;
    justify-content: flex-end;
    width: 100%;
    background: unset;
    border: unset;
}
.menu-dropdown::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    top: -14px;
    right: 10px;
    border-width: 0 15px 20px 15px;
    border-color: transparent transparent #415094 transparent;
   
}
.menu-dropdown-link {
    color: #fff;
    font-size: 13px;
    display: flex;
    gap: 15px;
    padding: 10px 0;
    text-decoration: none;
    justify-content: flex-end;
    align-items: baseline;
    opacity: 0.5;
    transition: .5s all;
    svg{
        width: 12px;
        height: 12px;
        fill: #fff;
    }
    &:hover{
        opacity: 1;
    }
}
.profile_info_details {
    margin-top: 20px;
    border-top: 1px solid #79838b;
    padding-top: 10px;
}
.sub-menu{
    padding-left: 22px;
    display: none;
    margin-top: 10px;
}
.sub-menu-item{
    list-style-type: none ;
}
.sub-menu-link{
    font-size: 13px !important;
    font-weight: 400 !important;
    padding: 7px 0;
    transition: .5s all;
    &:hover{
        color: #fff !important;
    }
}
.cs-form{
    background-color: #fff;
    max-width: 550px;
    padding: 30px;
    border-radius: 20px;
    margin: 0 auto;
}
.required{
    color: red;
}
.alert {
    position: fixed;
    right: 0;
    ul{
        margin-bottom: 0 !important;
        padding-left: 0 !important;
        li{
            list-style-type: none;
        }
    }
}
.cs-table td, .cs-table th{
    text-align: center;
    vertical-align: baseline;
}
.cs-table{
    margin-top: 20px;
}
.short-text{
    overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 1; /* number of lines to show */
           line-clamp: 1; 
   -webkit-box-orient: vertical;
   width: 210px;
   margin: 0 auto;
}
#preview img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-top: 20px;
}
.product_img{
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.status-deactive {
    padding: 8px;
    background: #ff9b9b;
    color: #fff;
    border-radius: 13px;
    width: 125px;
    display: block;
    margin: 0 auto;

}

.status-active {
    padding: 5px 8px;
    background: #91c594;
    color: #fff;
    border-radius: 13px;
    width: 125px;
    display: block;
    margin: 0 auto;
}
.item-product-order tr{
    vertical-align: baseline;
}
.right-btn{
    margin-left: auto;
    width: fit-content;
    display: block;
}
.modal-dialog{
    width: 800px !important;
    max-width: 800px !important;
}